STARTPAGE_PORT=8080
STARTPAGE_HOST=0.0.0.0

SOCOPS_URL=http://10.10.0.40:8081
SBOMGUARD_URL=http://10.10.0.40:8082
SOCINT_URL=http://10.10.0.40:8083
HONEYPOT_URL=http://10.10.0.40:8084
WAZUH_URL=https://10.10.0.174

# Display
SOC_NAME=CLAW SOC

# Aggregator behaviour
METRICS_CACHE_TTL=5
METRICS_FETCH_TIMEOUT=2.5
